@import "tailwindcss";

#root {
  /* Desktop Styles (Default) */
  max-width: 70%;
  margin: 0 auto; /* Centers the container */
  padding: 2rem;
}

/* Mobile Override */
@media (max-width: 768px) {
  #root {
    max-width: 100%; /* Uses the full screen width on mobile */
    padding: 1rem;   /* Reduces padding to save space */
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
}
