
*{
  box-sizing: border-box;
  font-optical-sizing: auto;

  font-family: var(--ff-primary);
}

*::after{
  box-sizing: border-box;
} *::before{
  box-sizing: border-box;
}

:root{
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Inter", sans-serif;
}

header{
  font-family: var(--ff-primary);
}

p{
  font-family: var(--ff-secondary);
}

h1{
  font-family: var(--ff-primary);
}

form{
  font-family: var(--ff-secondary);
}

html{

}

/* section{
  padding: 16px;
} */

.lottie-bg {
  position: fixed; /* Keeps it in place when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Pushes it behind all other content */
  overflow: hidden; /* Prevents scrollbars if animation is too big */
  background-color: #f0f0f0; /* Optional: Fallback color */
  pointer-events: none; /* Important: Allows you to click items "through" the animation */
}

.lottie-player {
  width: 100%;
  height: 100%;
  /* This mimics "object-fit: cover" for the animation */
  object-fit: cover; 
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient {
  background-size: 300% 300%;
  animation: gradient 12s ease infinite;
}