
*{
  box-sizing: border-box;
  font-optical-sizing: auto;
}

*::after{
  box-sizing: border-box;
} *::before{
  box-sizing: border-box;
}

:root{
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Inter", sans-serif;
}

header{
  font-family: var(--ff-primary);
}

p{
  font-family: var(--ff-secondary);
}

h1{
  font-family: var(--ff-primary);
}